<!DOCTYPE html>
<html>
    <head>
      <meta charset="utf-8">
         <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
         <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">
        <title>
         Sunday Sites</title>
        </head>
<body>

    <style>

.sidenav {
  height: 100%;
  width: 160px;
  position: fixed;
  z-index: 1;
  top: 0;
  left: 0;
  background-color: #111;
  overflow: hidden;
  padding-top: 20px;
}

.sidenav a {
  padding: 6px 8px 6px 16px;
  text-decoration: none;
  font-size: 25px;
  color: #818181;
  display: block;
}

.sidenav a:hover {
  color: #f1f1;
}

.main {
  margin-left: 160px;
  padding: 0px 10px;
}
</style>


    <div class = "sidenav">
        <a href = "/ToDoList_Item/mysite/main/Templates/main/home.html">Home</a>
        <a href =   "/ToDoList_Item/mysite/main/Templates/main/create.html">Create</a> 
        <a href =  "List.html">ToDoList</a>
     </div>
    <div id = "content", name = "content" class = "main">
         <div class = "row-justify-content-center">
         <div class = "col-8">
        <h1 class = "mt-2">My Site</h1>
        <hr class = "mt-0 mb-4"></h1>
        {% if user.is_authenticated %}
              {% block content %}
              {% endblock %} 
          {% else  %}
             <p>Login <a href = "{% '/login' %}">Here</a></p>
          {% endif %}
      </div>
  </div>
</div>
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
    
</body>
</html>