 {% extends "main/base.html" %}
 
 {% block title %}view List {% endblock %}
   
  {% block content %}
   <h2>{{ls.name}}</h2>
   <form method="post" action="#">
      {% csrf_token%}
   <ul>
       {% for item in ls.item_set.all %}
          {% if item.complete == True %}
     <li><input type = "checkbox" value="Click" name = "c{{item.id}}"checked >{{item.text}}</li>
     {% else %}
   <li><input type = "checkbox" value="Click" name = "c{{item.id}}">{{item.text}}</li>
   {% endif %}
   {% endfor %}
   </ul>
   <button type = "submit" name = "save" value = "save">Save
   </button>
   <input type = "text" name = "new">
   <button type = "submit" name = "newItem" value = "newIem">Add Item</button>
   </form>
{% endblock %}  
   

