 {% extends "main/base.html" %}
 
 {% block title %}view List {% endblock %}
   
  {% block content %}
   <h2>{{ls.name}}</h2>
   <form method="post" action="#">
      {% csrf_token %}
   
         {% for item in ls.item_set.all %}
         <div class = "input-group mb-3">
            <div class = "input-group-prepend">
           
            {% if item.complete == True %}
              <input type = "checkbox" value="Click" name = "c{{item.id}}" checked >
     {% else %}
   </div>
   <input type ="text" value = "{{item.text}}" class = "form-control">
   {% endif %}
</div>
   <input type = "checkbox" value="Click" name = "c{{item.id}}">
</div>
   {% endfor %}
   
   <button type = "submit" name = "save" value = "save">Save
   </button>
   <input type = "text" name = "new">
   <button type = "submit" name = "newItem" value = "newIem">Add Item</button>
   </form>
{% endblock %}  
   

